@font-face {
    font-family: 'Spotify';
    src: url('./img/Spotify.SVG') format('SVG');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Bauhaus93;
    src: url("./font/BAUHS93.TTF");
}
@font-face {
    font-family: Cooper;
    src: url("./font/COOPBL.TTF");
}
@font-face {
    font-family: Gabriola;
    src: url("./font/Gabriola.ttf");
}

header{
    display:inline-flex;
    background-color: white;
    grid-area:header;
}
.naveg{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    grid-area: naveg;
}
.hambur{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    grid-area: hambur;
}
main{
    grid-area: main;
}
sidebar{
    grid-area: sidebar;
}
aside{
    grid-area: ads;
}
footer{
    grid-area: footer;
}
@media only screen and (min-width: 1600px) {
    body {
        background-color:lightskyblue ;
    }
    .grillaX{
        grid-template-columns: 1.5fr 7.5fr 1fr;
        grid-template-areas: 
        "header header header"
        "naveg naveg naveg"
        "sidebar main ads"
        "footer footer footer";
    }
    .justCont{
        justify-content: space-around;
    }
    .hambur{
        display: none;
    }
}
@media only screen and (min-width: 1200px) and (max-width:1599px) {
    body {
        background-color:burlywood ;
    }
    .grillaX{
        grid-template-columns: minmax(210px, 1.5fr) 7.5fr 1fr;
        grid-template-areas: 
        "header header header"
        "naveg naveg naveg"
        "sidebar main ads"
        "footer footer footer";
    }
    .justCont{
        justify-content: space-around;
    }
    .hambur{
        display: none;
    }
}
@media only screen and (min-width: 768px) and (max-width:1199px) {
    body {
        background-color:cornflowerblue ;
    }
    .grillaX{
        border: 1px solid black;
        grid-template-columns: 2fr 6fr;
        grid-template-areas: 
        "header header"
        "hambur main"
        "sidebar main"
        "ads footer";
    }
    .justCont{
        justify-content: space-around;
    }
    .naveg{
        display: none;
    }
    .itemMenuH2 {
        display: none;
    }
    #InputMenuH:not(checked)  ~ ul{
        top: 104px;
    }
}
@media only screen and (min-width: 320px) and (max-width:767px) {
    body {
        background-color:gray ;
    }
    .grillaX{
        border: 1px solid black;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "hambur"
        "main"
        "footer";
    }
    .justCont{
        justify-content: center;
    }
    sidebar, aside, .naveg{
        display: none;
    }
    .itemMenuH2 {
        display: block;
    }
    #InputMenuH:not(checked)  ~ ul{
        top: 184px;
    }
}


@media only screen and (min-width: 200px) and (max-width:319px) {
    body {
        background-color:aquamarine ;
    }
    .grillaX{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "hambur"
        "main"
        "footer";
    }
    .justCont{
        justify-content: center;
    }
    sidebar, aside, .naveg{
        display: none;
    }
    .itemMenuH2 {
        display: block;
    }
    #InputMenuH:not(checked)  ~ ul{
        top: 184px;
    }
}

.grillaX{
    margin: auto;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: minmax(70px, 15vh) minmax(40px, 5vh) 6fr 10vh ;
}


.border{
    border: 1px solid darkgreen;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}
#logoM{
    height: 14vh;
    min-height: 50px;
    width: auto;
}
.Titulo{
    width: 100%;
    font-family: Cooper;
    font-size: calc(15px + 5.1vw);
    text-align: center;
    color: darkkhaki;
    -webkit-text-stroke: 2px black;
    margin-bottom: 15px;
}
.Titulo2{
    width: 100%;
    height: 4rem;
    font-family: Cooper;
    font-size: calc(40px + 1.5vw);
    line-height: 3.5rem;
    text-align: center;
    font-variant:small-caps;
}
#menu {
    height: 100%;
}
#menu li {
    display:inline-block;
    list-style: none;
}
.itemMenu{
    width: 10rem;
    height: 90%;
    border: 1px solid black;
    border-radius: 5px;
    line-height: 2.2rem;
    background-color: blanchedalmond;
    color: darkgreen;
    text-decoration: none;
}
.itemMenu:hover{
    background-color: darkgreen;
    color: blanchedalmond;
}
.itemMenu a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    text-decoration: inherit;
    color: inherit;
}
/* Ocultamos el input. */
#InputMenuH {
    display: none;
}

/* Modifico el label. Hago como si fuera un boton*/
.LmenuH {
    box-sizing: border-box;
    display: inline-block;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
}
/* Estilo del boton cuando se pasa el mouse por encima*/
.LmenuH:hover{
    background-color: blanchedalmond;
}
/* Estilo del label(boton) cuando el menú está expandido*/
#InputMenuH:checked ~ label {
    border-radius: 5px 5px 0 0;
    background: blanchedalmond; 
}
/* con input:checked ~ ul modifico el estilo de la lista ul cuando el checkbox esté seleccionado (checked), por lo que allí es dónde modifico el display de la lista, logrando que se visualice cuando el checkbox está marcado */
#InputMenuH:checked  ~ ul{
    display:block;
    position: relative;
    left: -70px;
    transition: left .5s ease;
}
#InputMenuH:not(checked)  ~ ul{
    display:block;
    position: relative;
    left: -300px;
    transition: left .5s ease;
}


/*Damos estilos a los elementos de la lista*/
.menuH{
    position: relative;
    left: -210px;
    margin-top:0;
    padding: 0;
}
.itemMenuH {
    margin: 0;
    padding: 10px;
    width: 200px;
        list-style: none;
    border-bottom: 1px solid black;
    background-color: blanchedalmond;
    color: darkgreen;
    text-decoration: none;
}
/*Estilo cuando el mouse pasa encima de cada link del menu*/
.itemMenuH:hover {
    background-color: darkgreen;
    color: blanchedalmond;
}
.itemMenuH a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    text-decoration: inherit;
    color: inherit;
}
#menuH2{
    position: relative;
    left: -210px;
    margin-top:0;
    padding: 0;
    width: 200px;
}
.itemMenuH2 {
    height: 12px;
    margin: 0;
    padding: 10px;
    list-style: none;
    background-color: blanchedalmond;
    color: darkgreen;
    text-decoration: none;
    text-align: right;
}
.itemMenuH2:hover {
    background-color: darkgreen;
    color: blanchedalmond;
}
.itemMenuH2 a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    text-decoration: inherit;
    color: inherit;
}



.contenedor{
    display: grid;
    width: 98%;
    margin: 10px auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 19vw));
    grid-auto-rows: 400px;
    grid-row-gap: 25px;
}
.celda{
    background-color: lightskyblue;
    text-align: center;
    border-radius: 10px;
    min-width: 17vw;
    max-width: 300px;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: minmax(26px, .2fr) minmax(200px, 2fr) minmax(3.5rem, 4rem) minmax(50px, .5fr) minmax(28px, .3fr);
}
.topTarjeta{
    display: flex;
    justify-content: left;
    margin: 2px 0 0 5px;
}
.tapaAlbum{
    text-decoration: none;
}
.coverAlbum{
    margin: 5px auto;
    width: auto;
    height: auto;
    max-width: 95%;
    max-height: 95%;
}
.nombreAlbum{
    font-family: Bauhaus93;
    font-size: 2rem;
    line-height: 2rem;
}
.anioAlbum{
    font-family: Gabriola;
    font-size: 3rem;
    line-height: 3.5rem;
}
.pieTarjeta{
    display: flex;
    justify-content: right;
    margin: 0 5px 2px 0;
    justify-content: space-between;
}
.iconoTarj{
    color: rgb(115, 115, 115);
    font-size: 24px;
}
.MenuLateral{
    text-align: center;
}
.MenuLateral ul{
    list-style-type: none;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: calc(10px + .5vw);
    font-weight: bold;
    line-height: 50px;
}
.MenuLateral li{
    border: 1px solid black;
    border-radius: 5px;
    width: 90%;
}
